.footer {
  color: var(--base-white);

  .footer-copy-right {
    font-size: 10px;
    color: var(--right-reserved);
  }

  .owner-email {
    color: var(--base-white);
    // text-decoration: none;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: var(--base-red);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--base-blue);
    }
  }
}

.footer-drawer {
  .MuiPaper-root {
    // height: 100%;
    border-radius: 40px 40px 0 0;
    max-width: 800px;
    margin: 0px auto;

    @media screen and (max-width: 700px) {
      border-radius: 0px;
    }

    .personal-details-drawer {
      .personal-details-content {
        position: relative;
        &::after {  
          content: "";
          position: absolute;
          width: 98%;
          height: 100px;
          left: 0px;
          top: 0px;
          border-radius: 40px 30px 0 0;
          background-image: linear-gradient(180deg, #ebeffb 20%, transparent 60%);
          z-index: 1;
        }
        @media screen and (max-width: 700px) {
          height: 90%;
        }
        .personal-details {
          background: #ebeffb;
          border-radius: 40px 40px 0 0;
        }
      }
    }
  }
}