.footer {
  color: var(--base-white);
  .footer-copy-right {
    font-size: 10px;
    color: var(--right-reserved);
  }
  .owner-email {
    color: var(--base-white);
    // text-decoration: none;
    text-decoration: underline;
    text-underline-offset: 5px;
    &:hover {
      text-decoration: underline;
    }
  }
}
