.footer {
  color: #fff;
  .footer-copy-right {
    font-size: 10px;
    color: #ffffff80;
  }
  .owner-email {
    color: #fff;
    // text-decoration: none;
    text-decoration: underline;
    text-underline-offset: 5px;
    &:hover {
      text-decoration: underline;
    }
  }
}
