.portfolio-header {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  border-radius: 50px;
  gap: 24px;
  background: #ffffffb0;
  backdrop-filter: blur(4px);
  padding: 4px;
  z-index: 9;
  margin: 0px auto;
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  top: 14px;
  animation: header-animation 0.5s ease;
  .portfolio-header-menu {
    display: flex;
  }
  .portfolio-tabs{
      .portfolio-tab{
        cursor: pointer;
        position: relative;
        padding: 8px 16px;
        .portfolio-tab-text{
          color: #000;
          &.active-tab{
            color: #fff;
          }
        }
        .active{
          background: black;
          width: 100%;
          height: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
          border-radius: 50px;
        }
          // .portfolio-tab-about{
          //     font-size: 12px;
          // }
          // .portfolio-tab-owner{
          //     font-size: 16px;
          //     font-weight: 700;
          //     color: var(--base-black);
          //     text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.40);
          // }
      }
  }
}
@keyframes header-animation{
  0% {top: -56px}
  50% {top: 20px}
  100% {top: 14px}
}