.portfolio-main-app{
    color: var(--base-black);
    background-color: var(--theme-bg);
    width: 100%;
    position: relative;
    .portfolio-content{
        padding: 80px 14px 14px 14px;
    }
}