.dark-theme{
    --base-white: #fff;
    --base-black: #000;

    --theme-bg: #1C1D21;

    --card-bg: rgba(33, 37, 41, 0.75);

    //header
    --header-bg: #ffffffb0;
    --header-border: #212529bf;

    //menu
    --menu-bg: #000;
    --menu-option-bg: #1C1D21;

    //home
        // know more
        --know-more-btn-bg: #ffffff33;
        --know-more-btn-bg-hover: #ffffff50;
        
        //feature
        --feature-even-bg: #c2c2c2;

    //about
    --owner-name-fill: inherit;
    --owner-name-stroke: #ffffff4a;
    --base-red: #dc3545;
    --base-blue: #007bff;
    --input-bg: rgba(33, 37, 41, 0.75);
    --social-account-bg: rgba(33, 37, 41, 0.75);
    --social-account-border: rgba(33, 37, 41, 0.75);
    --persional-info: #abababbf;

    // contact
    --contact-account-card-tab: #4b4a4a;
    --contact-account-card-tab-hover: #817d7d;

    //
    --right-reserved: #ffffff80;

    // misc
    --menu-expanded-border: #282828;
    --menu-separator: #212529bf;
}