.light-theme{
    --base-white: #000;
    --base-black: #fff;

    --theme-bg: #dadcdf;  
    --card-bg: #f5f5f5cc;
    //header
    --header-bg: #e9ecefbf;
    --header-border: #f8f9fa;

    //menu
    --menu-bg: #e9ecef;
    --menu-option-bg: #ffffffc2;

    //home
        // know more
        --know-more-btn-bg: #e9ecef;
        --know-more-btn-bg-hover: #f0f0f0;

        //feature
        --feature-even-bg: #f0f0f0;

    //about
        --owner-name-fill: #f9f9f9;
        --owner-name-stroke: #00000017;
        --base-red: #dc3545;
        --base-blue: #007bff;
        --input-bg: #f8f9fa;
        --social-account-bg: #f9f9f982;
        --social-account-border: #ebebeb;
        --persional-info: #545c63;

    //
    --right-reserved: #00000080;

    // misc
    --menu-expanded-border: #fff;
    --menu-separator: #e0e0e0;
}