.contact-tab{
    height: 100vh;
    @media screen and (max-width: var(--mobile-resolution)) {
        padding: 0px;
    }
    .personal-details-content{
        .personal-details{
            padding-top: 120px;
            padding-bottom: 100px;
            @media screen and (max-width: var(--mobile-resolution)) {
                padding-top: 80px;
            }
            .owner-form-container{
                .account-forms{
                    .account-form-input{
                        background-color: var(--input-bg);
                    }
                }
            }
        }
    }
}