.menu-section{
    border-radius: inherit;
    flex-direction: column;
    gap: 2px;
    display: flex;
    width: 100%;
    .menu-option{
        // height: 40px;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        border: none;
        background: var(--menu-option-bg);
        // padding: 8px 12px;
        padding: 12px 14px;
        // color: var(--base-white);
        transition: all ease-in-out 0.1s;
        &:first-child{
            border-radius: 10px 10px 3px 3px;
        }
        &:last-child{
            border-radius: 3px 3px 10px 10px;
        }
        &.acive{
            background-color: #fff;
        }
        &:hover{
            background-color: #fff;
            transform: scale(0.99);
            transition: all ease-in-out 0.1s;
        }
    }
}