@import "../../ui-components/common-scss/theme-scss/dark-theme.scss";
@import "../../ui-components/common-scss/theme-scss/light-theme.scss";

.portfolio-lab {
  text-align: center;
  .portfolio-lab-header {
    padding: 120px 0px 100px 0px;
    // height: 200px;
    color: var(--base-white);
    background: var(--theme-bg);
    .portfolio-lab-header-title {
      // font-size: 70px;
      font-size: clamp(2.6rem, 6vw, 10rem);
      font-weight: 600;
    }
  }
  .lab-container {
    .section-title {
      justify-content: flex-start;
    }
    .section-content {
      text-align: left;
    }
    .lab-section-under-line {
      color: var(--base-white);
      text-align: left;
    }
  }
}
