html, body, #root,
.App {
  // font-family: 'Inter';
  font-family: sans-serif;
  height: 100%;
  overflow-x: hidden;
    overflow-y: auto;
  .portfolio-main-app{
  &.telugu-language{
    font-family: 'noto-sans-telugu';
    font-weight: 600;
    font-size: 18px;
  }
}
}
// @font-face {
//   font-family: 'Inter';
//   src: local('Inter'), url('./fonts/static/Inter-Regular.ttf'), format('wght.ttf');
// }

@font-face {
  font-family: 'noto-sans-telugu';
  src: local('noto-sans-telugu'), url('./fonts/Noto_Serif_Telugu/NotoSerifTelugu-VariableFont_wght.ttf'), format('wght.ttf');
}