html, body, #root,
.App {
  // font-family: 'Inter';
  font-family: sans-serif;
  height: 100%;
  overflow-x: hidden;
    overflow-y: auto;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./fonts/static/Inter-Regular.ttf'), format('wght.ttf');
}