.card-popover {
  width: 100%;
  height: 100%;
  // color: #fff;
  background: #0000007a;
  z-index: 9;
  top: 0;
  position: fixed;
  .feature {
    background: #fff;
    .features-title {
      font-size: 10px;
    }
    .features-text {
    }
  }
}
