.assistance-box{
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 1;
    .transcript-box{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        // padding: 4px 4px 4px 0px;
        .transcript-message{
            display: flex;
            flex-direction: column;
            gap: 2px;
            white-space: nowrap;
            color: black;
            padding: 0px 70px 0px 24px;
            transition: all ease 0.2s;
            // &.got-response{
            //     padding: 6px 70px 0px 24px;
            // }
            .transcript{
                line-height: 20px;
                &.recording{
                    font-size: 18px;
                    &.shrink{
                        opacity: 0.5;
                        font-size: 16px;
                    }
                }
                &.message{
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
        .assistance-mic{
            flex-direction: row;
        }
        .assistance-box-bg{
            // width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 50px;
            background: #ffffffb0;
            backdrop-filter: blur(4px);
            box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
            position: absolute;
            z-index: -1;
            overflow: hidden;
            right: 0;
        }
        .MuiSpeedDial-root{
            .MuiButtonBase-root{
                // background: #1c1d21;
                background-color: #0d6efd;
            }
        }
    }
    // &.mic-off{
    //     background: transparent;
    //     backdrop-filter: unset;
    //     padding: 4px 4px 4px 4px;
    // }
    // &.mic-on{
    //     background: #ffffffb0;
    //     backdrop-filter: blur(4px);
    //     padding: 4px 4px 4px 15px;
    //     box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
    // }
}